/*Master Style*/
body{
    margin: 0px;
}

.container{
    display: grid;
    grid-template-columns: 1fr;

}

/*Nav Styles*/




.nav-wrapper{
    right: 0;
    left: 0;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}


.brand{
    height: 15px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
}

.brand a{
    color: #fadb4f;;
    text-decoration:  none;
    transition: color 0.5s;
}

.brand:hover{
    border-bottom: 1px solid black;;
}


/*body styles*/
.portfolio-items-wrapper{
    display: grid;
    grid-template-columns: 256px 256px 256px 256px 256px 256px;
}

.start{
    padding-top: 550px;
    padding-left: 150px;
}

.about{
    padding-bottom: 50px;
}

.about > .about-content{
    padding-left: 200px;
    display: flex;
}


.about > .about-content > .about-content-imageholder > .unity-image{
    padding-left: 250px;
}

.about > .about-content > .about-content-imageholder > .css-image{
    padding-left: 150px;
}

.about > .about-content > .about-content-imageholder > .csharp-image{
    padding-left: 75px;
}

.about > .about-content > .about-content-imageholder > .blender-image{
    padding-left: 220px;
}


.skills >.skill-chart{
    padding-top: 30px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 100px;
}

.skills >.skill-chart > .skill-chart-expert{
    border-bottom: solid;
    display: flex;
}

.skills >.skill-chart > .skill-chart-advanced{
    border-bottom: solid;
    display: flex;
}
.skills >.skill-chart > .skill-chart-intermediate{
    border-bottom: solid;
    display: flex;
}
.skills >.skill-chart > .skill-chart-elementary{
    border-bottom: solid;
    display: flex;
}
.skills >.skill-chart > .skill-chart-beginer{
    border-bottom: solid;
    display: flex;
}
.skills >.skill-chart > .skill-chart-stuff{
    display: flex;
    padding-left: 260px;
}

.skills >.skill-chart > .skill-chart-intermediate > .arrow1{
    padding-left: 120px;
}
.skills >.skill-chart > .skill-chart-intermediate > .arrow2{
    padding-left: 525px;
}
.skills >.skill-chart > .skill-chart-beginer > .arrow{
    padding-left: 235px;
}
.skills >.skill-chart > .skill-chart-elementary > .arrow1{
    padding-left: 405px;
}
.skills >.skill-chart > .skill-chart-elementary > .arrow2{
    padding-left: 115px;
}




.skills >.skill-chart > .skill-chart-stuff > .csharp{
    padding-left: 85px;
}

.skills >.skill-chart > .skill-chart-stuff > .html{
    padding-left: 85px;
}

.skills >.skill-chart > .skill-chart-stuff > .css{
    padding-left: 85px;
}

.skills >.skill-chart > .skill-chart-stuff > .blender{
    padding-left: 85px;
}

.skills >.skill-chart > .skill-chart-stuff > .typescript{
    padding-left: 85px;
}

.skills >.skill-chart > .skill-chart-stuff > .lua{
    padding-left: 85px;
}

.skills >.skill-chart > .skill-chart-stuff > .placeholder{
    padding-left: 85px;
}


/*footer styles*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fadb4f;
    color: black;
    display: flex;
    justify-content: space-between;
}

.info{
    padding-right: 5px;
}
