/*Master Style*/
body{
    margin: 0px;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
}

/*Nav Styles*/
.placeHolder{
    background-color: #f6dd68;
}

.placeThrower{
    background-color: black;
}

.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.left-side{
    display: flex;
}

.nav-wrapper > .left-side > div{
    margin: 10px;
    font-size: 1em;
    text-transform: uppercase;
}

.nav-wrapper > .right-side > div{
    margin: 10px;
    font-size: 1em;
    text-transform: uppercase;
}

.brand{
    height: 15px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
}

.brand a{
    color: #808080;
    text-decoration:  none;
    transition: color 0.5s;
}

.brand:hover{
    border-bottom: 2px solid black;
}

.brand a:hover{
    color: black;
}

.nav-link-wrapper{
    height: 15px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a{
    color: #808080;
    text-decoration:  none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover{
    border-bottom: 2px solid black;
}

.nav-link-wrapper a:hover{
    color: black;
}

/*Test styles*/
.portfolio-items-wrapper{
    display: grid;
    grid-template-columns: 256px 256px 256px 256px 256px 256px;
}